<h1>Notifications</h1>

<div id="notifications">
  <% if @notifications.any? %>
    <% @notifications.each do |notification| %>
      <div class="notification-<%= notification.id %>">
        <% case notification.notifiable_type %>
        <% when "FriendRequest" %>
          <% unless notification.notifiable.accepted %>
            <div class="notification-message row mb-1">
              <div class="col-2 pr-0">
                <%= avatar(notification.actor, 50, 50) %>
              </div>
              <div class="col-10 align-self-center">
                <%= link_to user_path(notification.actor) do %>
                  <%= notification.actor.full_name %> <%= notification.action %> you a <%= notification.notifiable.class.to_s.underscore.humanize.downcase %>.
                <% end %>
              </div>
            </div>
            <div class="actions">
              <%= link_to 'Accept',  friend_requests_path(user_id: notification.actor, receiver_id: notification.receiver), method: :create, class: "btn btn-success" %>
              <%= link_to 'Decline', friend_requests_path(user_id: notification.actor, receiver_id: notification.receiver), method: :delete, class: "btn btn-secondary" %>
            </div>
          <% else %>
            <div class="notification-message">You are now friends with <%= notification.actor.full_name %>.</div>
          <% end %>
        <% when "Post" %>
          <div class="notification-message row">
            <div class="col-2 pr-0">
              <%= avatar(notification.actor, 50, 50) %>
            </div>
            <div class="col-10 align-self-center">
              <a href="<%= user_post_path(notification.actor, notification.notifiable) %>">
                <%= notification.actor.full_name %> <%= notification.action %> your <%= notification.notifiable.class.to_s.underscore.humanize.downcase %>.
              </a>
            </div>
          </div>
        <% when "Photo" %>
          <div class="notification-message row">
            <div class="col-2 pr-0">
              <%= avatar(notification.actor, 50, 50) %>
            </div>
            <div class="col-10 align-self-center">
              <a href="<%= photo_path(notification.notifiable) %>">
                <%= notification.actor.full_name %> <%= notification.action %> your <%= notification.notifiable.class.to_s.underscore.humanize.downcase %>.
              </a>
            </div>
          </div>
        <% else %>
          <div class="notification-message row">
            <div class="col-2 pr-0">
              <%= avatar(notification.actor, 50, 50) %>
            </div>
            <div class="col-10 align-self-center">
              <a href="<%= resource_path(notification.notifiable.commentable) %>">
                <%= notification.actor.full_name %> <%= notification.action %> your <%= notification.notifiable.class.to_s.underscore.humanize.downcase %>.
              </a>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="notification">
      <div class="notification-message">You have no notifications</div>
    </div>
  <% end %>
</div>