<h1>Welcome <%= current_user.email %> </h1>

<%= render "new" %>

<% @posts.each do |post| %>
  <div class="post-<%= post.id %> mb-2">
    <span class="author">
      <%# place user profile image  %>
      <%= post.user.email %>
      <%# place when posted ... maybe post options such as public, friends, etc... %>
    </span>
    <p class="body">
      <% if char_count_high_for(post.body) %>
        <%= post.body.truncate(400) %> <%= link_to "See More", user_post_path(id: post.id, user_id: post.author_id), class: "see-more" %>
      <% else %>
        <%= post.body %>
      <% end %>
    </p>
    <span class="stats">
      <span>Like</span>
      <%# Likes, how many of them %>
      <span style="float: right;">Comment</span>
      <%# Comments, how many comments %>
    </span>
    <hr>
    <div class="actions">
      <%# Section where user can like, comment, maybe share %>
    </div>
  </div>
<% end %>